
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# data is quite large, so don't commit
data
data.zip

# Don't commit models
*.h5

logs
